name: test action
on:
  pull_request:

jobs:
  test-record-actions-duration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version: 'v1.2.9'
      - run: bun install
      - run: bun run lint
      - run: bun run test
      - uses: ./
        with:
          repository_name: 'mas0061/nuxt3-practice'
          workflow_name: 'ci.yml'
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: echo "$(cat actions-duration.json | jq .)"
