name: test action
on:
  pull_request:

jobs:
  test-record-actions-duration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          bun-version: 'v1.2.9'
      - run: bun install
      - run: bun run lint
      - run: bun run test
      - uses: ./
        with:
          repository_name: 'mas0061/nuxt3-practice'
          workflow_name: 'ci.yml'
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: echo "$(cat actions-duration.json | jq .)"
